<div class="my-3 col-lg-6 mx-auto">
				{{ form_start(form) }}

				{{ form_row(form.name, {
        'label' : 'Nom du service'
    })}}

				{{ form_row(form.description, {
        'label' : 'Description du service'
    })}}

				{{form_row(form.image, {
        'label' : 'Avatar'
    })}}
			
			<!-- Back button -->
			<div class="d-flex justify-content-center mb-5 ">
				<div class="mx-3">
					<a role="button" class="btn btn-success" href="{{ path('admin_service_index') }}">Liste des services</a>
				</div>

				<!-- Submit -->
				<div class="mx-3">
					<button type="submit" class="btn  btn-success w-100 mb-3">{{ button_label }}</button>
				</div>
            </div>
				{{ form_end(form) }}
</div>
